#workflow-sharing-container .workflow-name {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
#workflow-sharing-container aui-spinner {
    margin-right: 5px;
}
.workflow-sharing-list {
    margin-top: 20px;
}
.workflow-description {
    margin-top: 10px;
}
.workflow-preview {
    height: 200px; /* the max-height of the workflow-image */
    text-align: center;
}
.workflow-image {
    height: 200px;
    position: relative;
    width: 350px;
}
.workflow-image img {
    max-height: 200px;
    max-width: 350px;
    vertical-align: top;
}

.workflow-image-lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background: rgba(9, 30, 66, 0.54);
}

.workflow-image-lightbox img {
    max-height: 100%;
    max-width: 100%;
    margin-top: 10%;
}

.workflow-image-lightbox:target {
    display: block;
}

.workflow-download {
    margin-top: 20px;
}
.workflow-downloading-indicator {
    margin-top: 10px;
    display: flex;
}
.workflow-entry h2 {
    margin-top: 0;
}
.workflow-sharing-list-container {
    position: relative;
}
.workflow-sharing-list .workflow-entry {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    overflow: hidden;
}
.workflow-sharing-list .disabled .workflow-entry {
    color: #707070;
}
.workflow-sharing-see-more-container {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}
.workflow-sharing-loading-container {
    display: none;
    margin-top: 20px;
    padding: 5px 0; /* so that it matches the 30px height of the "See more workflows" button */
    justify-content: center;
}