$webResourceManager.requireResourcesForContext("jira.workflow.sharing")
<html>
<head>
    <title>$i18n.getText("wfshare.section.title.import")</title>
    <meta name="decorator" content="panel-admin"/>
</head>
<body class="aui-page-focused aui-page-focused-large">
    <h2>$i18n.getText("wfshare.import.screen.name.title")</h2>

    #if($errorMessage)
        <div class="aui-message error">
            <div class="title">
                <span class="aui-icon icon-error"></span>
                <strong>$i18n.getText("wfshare.error.screen.error")</strong>
            </div>
            <p>$errorMessage</p>
        </div>
    #end

    <form class="aui" action="$nextUrl" id="wfShareImportChooseName" method="post">
        <div class="field-group">
            <label for="wfShareWorkflowName">$i18n.getText("wfshare.import.screen.name.instructions")</label>
            <input class="text long-field" type="text" name="wfShareWorkflowName" id="wfShareWorkflowName" value="${suggestedWorkflowName}" maxlength="255" />
        </div>

        <div class="buttons-container">
            <a href="$backUrl" class="aui-button" id="backButton">$i18n.getText("wfshare.button.label.back")</a>
            <input class="aui-button aui-button-primary" id="nextButton" type="submit" value="$i18n.getText("wfshare.button.label.next")"/>
            <a class="cancel" href="$cancelUrl">$i18n.getText("wfshare.button.label.cancel")</a>
        </div>
    </form>

    <script>
        JIRA.WSP.Analytics.sendEvent("import.step", {
            stepName: "choose-name"
        });
    </script>
</body>
</html>
