$webResourceManager.requireResourcesForContext("jira.workflow.sharing")
<html>
<head>
    <title>$i18n.getText("wfshare.section.title.export")</title>
    <meta name="decorator" content="panel-admin"/>
</head>
<body class="aui-page-focused aui-page-focused-large">
    <h2>$i18n.getText("wfshare.export.screen.success.title")</h2>

    <div class="aui-message success wfshare-success-message">
        <div class="title">
            <span class="aui-icon icon-success"></span>
            <strong>$i18n.getText("wfshare.export.screen.success.message.title")</strong>
        </div>

        #set($successMsgHtml = $i18n.getText("wfshare.export.screen.success.message", "<a id='download-bundle-link' href='$requestContext.baseUrl/plugins/servlet/sharedworkflowdownloader?file=${exportedZip}&origin=${cancelUrlEncoded}'>", "</a>", $maxAgeInMinutes))
        <p>$successMsgHtml</p>
    </div>

    <h3>$i18n.getText("wfshare.export.screen.success.whatsnext")</h3>
    <div class="wfshare-table wfshare-export-success">
        <div class="wfshare-row">
            <div class="wfshare-cell">
                <span class="wfshare-symbol wfshare-symbol-marketplace"></span>
            </div>
            <div class="wfshare-cell">
                <h4>$i18n.getText("wfshare.export.screen.success.sharemarketplace")</h4>
                <p>$i18n.getText("wfshare.export.screen.success.sharemarketplace.description")</p>
                <p><a href='$helpPath.url' title='$helpPath.title' target='_jirahelp'>$i18n.getText("wfshare.learnmore")</a></p>
                <p><a href="https://marketplace.atlassian.com/">$i18n.getText("wfshare.export.screen.success.sharemarketplace.link")</a></p>
            </div>
        </div>
        <div class="wfshare-row">
            <div class="wfshare-cell">
                <span class="wfshare-symbol wfshare-symbol-jira"></span>
            </div>
            <div class="wfshare-cell">
                <h4>$i18n.getText("wfshare.export.screen.success.importjira")</h4>
                <p>$i18n.getText("wfshare.export.screen.success.importjira.description")</p>
                <p><a href='$helpPath.url' title='$helpPath.title' target='_jirahelp'>$i18n.getText("wfshare.learnmore")</a></p>
            </div>
        </div>
    </div>

    <div class="wfshare-success-buttons">
        <a id="finishButton" href="$cancelUrl">$i18n.getText("wfshare.export.screen.success.back")</a>
    </div>

    <iframe class="wfshare-export-iframe" src="$requestContext.baseUrl/plugins/servlet/sharedworkflowdownloader?file=$exportedZip"></iframe>

    <script>
        JIRA.WSP.Analytics.sendEvent("export.step", {
            stepName: "export-success"
        });

        JIRA.WSP.Analytics.sendEvent("export.success", {
            manualNotes: "$manualNotes",
            generatedNotes: "$generatedNotes",
            nrOfPlugins: "$nrOfPlugins"
        });
    </script>
</body>
</html>
